

img {
    width: 100%;
}


.blog-post {
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.blog-post_image {
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translate(-8rem);
    position: relative;
}

.blog-post_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post_image::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(79, 172, 256, .8), rgba(0, 242, 256, .8));
    box-shadow: .5rem .5rem .5rem 1px rgba(0, 0, 0, .5);
    border-radius: .8rem;
}


.blog-post_date span {
    display: block;
    color: rgba(61, 50, 50, 0.5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.blog-post_title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe;
}

.blog-post_text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .7);
}

.blog-post_cta {
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius: .8rem;
    text-decoration: none;
}

.blog-post_cta:hover {
    background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}






@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 80rem;
    }

    .blog-post_image {
        max-width: 30rem;
        min-width: 30rem;
        transform: translate(0, -8rem);
    }
}

@media screen and (max-width: 868px) {
    .blog-post {
        max-width: 70rem;
    }

}

@media screen and (max-width: 768px) {
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
    }

    .blog-post_img {
        max-width: 100%;
        min-width: 100%;
        transform: translate(0, -8rem);
    }
}